.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
  .title {
    margin-bottom: 5px;
  }
  .last-modified {
    color: lightgray;
    margin-bottom:5px;
  }  
  .tag-list {
    margin-bottom: 20px;
    
    li {
      display: inline;
      list-style: none;
  }
}
}
.summary  {
  h2 {
    margin-bottom: 0px;
  }
  .last-modified {
    margin-bottom: 10px;
  }
}