{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-4 pb-16">
    <div class="row">
      <div class="col-12">
        <div class="profile">
          <img src="profile.jpg" alt="me" class="rounded-circle" >
        </div>
        <h1 class="title">{{ .Title | default .Site.Title }}</h1>
        <p class="subtitle">Full-stack .NET developer</p>        
        <ul class="social list-inline">
          <li class="list-inline-item">
            <a class="hvr-grow-rotate" href="https://twitter.com/owensymes" target="_blank" title="Twitter" rel="noreferrer">
              {{ partial "fontawesome.html" "twitter" }}
            </a>
          </li><li class="list-inline-item">
            <a rel="me" class="hvr-grow-rotate" href="https://mastodon.social/@owensymes" target="_blank" title="Mastodon">
              {{ partial "fontawesome.html" "mastodon" }}
            </a>
          </li>
          <li class="list-inline-item">
            <a class="hvr-grow-rotate" href="https://owen-symes.notion.site/Owen-Symes-23b8cbf25c2345a9ba1c10128186e999" target="_blank" title="Resume" rel="noreferrer">
              {{ partial "fontawesome.html" "resume" }}
            </a>
          </li>
          <li class="list-inline-item">
              <a class="hvr-grow-rotate" href="https://github.com/fordprefect480" target="_blank" title="Github" rel="noreferrer">
                {{ partial "fontawesome.html" "github" }}
              </a>
          </li>
          <li class="list-inline-item">
            <a class="hvr-grow-rotate" href="https://instagram.com/fordprefect480" target="_blank" title="Instagram" rel="noreferrer">
              {{ partial "fontawesome.html" "instagram" }}
            </a>
          </li>  
          <li class="list-inline-item">
            <a class="hvr-grow-rotate" href="mailto:owen.symes+blog@gmail.com" target="_blank"  title="Email" rel="noreferrer">
              {{ partial "fontawesome.html" "envelope" }}
            </a>
          </li>        
        </ul>
        <div class="content">
          {{ if .Content }}
          {{ .Content }}
          {{ else }}
          <p>{{ .Site.Params.homepage_intro }}</p>
          {{ end }}
        </div>       
      </div>
    </div>
  </div>
</div>

{{ if .Site.Params.homepage_image }}
<div class="strip">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="terminal">
          <img src="{{ .Site.Params.homepage_image | relURL}}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
